<!DOCTYPE html>
<html>
<% include ./partials/head %>


  <body>
    <div class="wrapper">
      <% include ./partials/navbar %>
        <% include ./partials/verb_table %>


        <div class="push"></div>
    </div>
    <footer class="footer">Enseñame Tus Verbos</footer>


    <% include ./partials/scripts %>
  </body>

</html>
